*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-image:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(img/pic.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width:1200px;
    height:75px;
    margin: auto;

}
.nav ul{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
    text-decoration: none;

}
.nav ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 0;
    font-size: 18px;
    overflow: hidden;
}
.nav ul li a{
    text-decoration: none;
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
.nav ul li a:hover{
    color:aliceblue;
}
.l1 .logo{
    color:red;
    font-size: 20px;
}
.title{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 160px;
    -webkit-text-stroke: 1px white;
    color:transparent;
    background-image: linear-gradient(red,black);
    background-repeat: no-repeat;
    background-position: -800px 0;
    animation: backcolor 5s linear infinite alternate;
}
@keyframes backcolor{
    100%{
        background-position: 0 0;

    }
}


